apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: data
  labels:
    app.kubernetes.io/name: redis
    app.kubernetes.io/part-of: cloudradar
spec:
  type: ClusterIP
  ports:
    - name: redis
      port: 6379
      targetPort: redis
  selector:
    app.kubernetes.io/name: redis
    app.kubernetes.io/part-of: cloudradar
