repoServer:
  resources:
    requests:
      cpu: 150m
      memory: 384Mi
    limits:
      cpu: 750m
      memory: 768Mi
  livenessProbe:
    initialDelaySeconds: 30
    timeoutSeconds: 5
    failureThreshold: 10
  readinessProbe:
    initialDelaySeconds: 15
    timeoutSeconds: 5
    failureThreshold: 10
