apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: grafana-admin
  namespace: default
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: ssm-parameter-store
  target:
    name: grafana-admin
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        admin-password: "{{ .password }}"
  data:
    - secretKey: password
      remoteRef:
        key: /cloudradar/grafana-admin-password
