apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: prometheus-auth
  namespace: default
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: ssm-parameter-store
  target:
    name: prometheus-auth
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        auth-password: "{{ .password }}"
  data:
    - secretKey: password
      remoteRef:
        key: /cloudradar/prometheus-auth-password
