apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: prometheus-auth
  namespace: default
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: ssm-parameter-store
    kind: ClusterSecretStore
  target:
    name: prometheus-secret
    creationPolicy: Owner
  data:
    - secretKey: password
      remoteRef:
        key: /cloudradar/prometheus-password
    - secretKey: htpasswd
      remoteRef:
        key: /cloudradar/prometheus-htpasswd
